:root {
    --page-background-color: #f1f5f8;
    --image-border-color: #4aa5e8;
    --slide-buttons-color: #5d7a95;
}


/* Body */
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--page-background-color);
}

/* Container */
.container {
    margin: 0 auto;
    /* padding: 3.5vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    overflow: hidden;
}


.images {
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: transform 600ms;
    margin-bottom: 20px;
}

/* Image div */
.image {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

img {
    width: 100%;
}

/* Buttons div */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Button */
button {
    background-color: transparent;
    border: none;
    color: var(--slide-buttons-color);
}

/* Picture */
img {
    border: solid 5px var(--image-border-color);
    border-radius: 5px;
}

/* Hidden elements class */
.invisible {
    display: none;
}